.aboutH3{
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.aboutRedirect{
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-size: 24px;
}
