.searchDiv{
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}

h1{
  text-align: center;
}

h2{
  text-align: center;
}

.searchForm{
  text-align: center;
}

.searchBar{
  text-align: center;
  /*font-size: 30px;*/
}


.searchBar.placeholder{
  text-align: center;
}

.searchButton{
  text-align: center;
  width: 10vw;
  height: 35px;
  background-color: #1F81FA;
  border-radius: 5px 5px 5px 5px;
  border: none;
  color: white;
}

.searchButton:hover{
  background-color: #E07C79;
}

.results{
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  text-align:center;
  font-size: 1.0em;
}

.moviePost{
  border: 1px solid gray;
  width: 40%;
  float: left;
  margin: 5px;
  text-align:center;
  border-radius: 5px 5px 5px 5px;
  color: #1F81FA;
}

.movieImage{
  width: 75px;
  height: 75px;
}
