<div class="searchDiv">
  <h1>Angular OMDb API Search</h1>
  <h2>Enter a movie by title.</h2>
  <form class="searchForm" ng-submit="submitSearch()">
    <input class="searchBar" type="text" ng-model="search" ng-model-options="{ debounce: 800 }" placeholder="enter movie title here">
    <input class="searchButton" type="submit" name="name" value="Search">
  </form>
</div>
<div class="results">
  <div class="moviePost" ng-repeat="movie in movieData | orderBy: movie.Year:true">
    <p><a ng-href="/#/{{movie.imdbID}}/show" ng-click="individualMovieSearch(movie.imdbID)">Title: {{movie.Title}}</a></p>
    <p>Year: {{movie.Year}}</p>
    <p>Type: {{movie.Type}}</p>
  </div>
</div>
